<div class="container">
  <br>
  <h1>Create your dose</h1>
  <br>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :description, placeholder: 'Quantity' %>
  </div>
  <div class="form-inputs">
     <%= f.association :ingredient, collection: Ingredient.all, input_html: { class: 'select2' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Back to your cocktail', cocktail_path(@cocktail) %>

</div>
